body{
     background-color: rgb(12,10,20) !important;
     box-sizing: border-box;
}

.navbar-expand{
    background-color: rgb(12,10,20);
}
.logo{
    display: flex;
    padding-left: 3%;
    margin-left: 0%;
}

/* MOBİLE NAVİGATİON CSS */
 .card {
   width: 71.5vw;
   height: 100vw;
   width: clamp(200px, 61vh, 18vw);
   height: clamp(280px, 85vh, 25.2vw);
   @media screen and (min-width: 600px) {
   width: 61vh;
      height: 105vh;
     max-width: 500px;
     max-height: 700px;
     width: clamp(12.9vw, 61vh, 18vw);
     height: clamp(18vw, 85vh, 25.2vw);
   }
  height: auto;
   border-radius: 5% / 3.5%;
   box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2),
     -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent,
     0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
 
   transition: transform 0.5s ease, box-shadow 0.2s ease;
   will-change: transform, filter;
 
   background-color: #040712;
   background-image: var(--front);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   transform-origin: center;
 }

 table, th, td {
  border: 3px solid rgb(15, 2, 2);
}

/* FOOTER CSS */
footer {
  padding: 30px;
  text-align: center;
}
.social-icons {
  margin: 30px 0;
}
.social-icons a {
  text-decoration: none;
  color: #cebaba;
  margin: 0 20px;
  font-size: 44px;
}
.social-icons a:hover {
  color: #1da222; 
}
.footer-text {
  
  font-family: 'MedievalSharp', cursive;
  font-size: 26px;
  color:white;
}
.foooter{
  box-shadow: rgba(240, 11, 11, 0.16) 0px 3px 6px, rgba(248, 20, 20, 0.23) 0px 3px 6px;
}



/* FOOTER END */



/* İTEM PAGE CSS */

:root {
  --card-height: 200px;
  --card-width: calc(var(--card-height) / 1.5);
}
* {
  box-sizing: border-box;
}
.PageForAllitem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.PageForAllitem .card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  perspective: 2500px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.card:hover .wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid wheat;
  display: flex;
  font-size: 25px;
  font-weight: 700;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}



/* BUTTON MAİN PAGE CSS */
/* CSS */
.button-13 {
  touch-action: manipulation;
  background: none;
  width: 100%;
  position: relative;
  border-width: 4px 12px;
  border-style: solid;
  border-color: transparent;
  padding: 8px 24px;
  text-align: center;
  margin-top: 150px;
  color: #fff;
  transition-property: transform;
  transition-duration: 0.4s;
}

.button-13:active {
  transform: scale(0.92);
}

.button-13-background {
  position: absolute;
  z-index: 2;
  inset: 0;
  clip-path: polygon(12px 0, calc(100% - 12px) 0%, 100% 12px, 100% calc(100% - 12px), calc(100% - 12px) 100%, 12px 100%, 0% calc(100% - 12px), 0% 12px);
  background-color: saddlebrown;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.8)), linear-gradient(to bottom, #af6a65, calc(12.5% - 1px), #cfa381, #88312b calc(12.5% + 1px) 50%, #601d2c 50% calc(87.5% - 1px), #994021, #341227 calc(87.5% + 1px));
  transition-property: filter;
  transition-duration: 0.2s;
  will-change: filter;
}

.button-13 .text {
  background: linear-gradient(180deg, #FFE5C2 1%, #CDAF87 100%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: 3;
  position: relative;
}

@media (hover: hover) {
  .button-13:hover .button-13-background {
    filter: brightness(0.8);
  }
}

.button-13:active .button-13-background {
  filter: brightness(0.6);
}

.button-13-border {
  position: absolute;
  z-index: 1;
  inset: -4px -12px;
}

@supports (-webkit-mask-box-image: inherit) or (mask-border: inherit) {
  .button-13-border {
    background-image: linear-gradient(to bottom, #bb9d7a 50%, #806d56 50%);
    -webkit-mask-box-image-source: url("https://csspro.com/css-3d-buttons/buttons-img/baldurs-gate-3-border.svg");
    -webkit-mask-box-image-slice: 15 23;
    -webkit-mask-box-image-width: 15px 23px;
    -webkit-mask-box-image-repeat: repeat;
    mask-border-source: url("https://csspro.com/css-3d-buttons/buttons-img/baldurs-gate-3-border.svg");
    mask-border-slice: 15 23;
    mask-border-width: 15px 23px;
    mask-border-repeat: repeat;
  }
}

@supports not ((-webkit-mask-box-image: inherit) or (mask-border: inherit)) {
  .button-13-border {
    border-width: 15px 23px;
    border-style: solid;
    border-color: transparent;
    border-image-source: url("https://csspro.com/css-3d-buttons/buttons-img/baldurs-gate-3-border-inverted.svg");
    border-image-slice: 15 23;
    border-image-width: 15px 23px;
    border-image-repeat: repeat;
    background-image: linear-gradient(#000, #000), linear-gradient(to bottom, #bb9d7a 50%, #806d56 50%);
    background-origin: content-box, border-box;
    background-repeat: no-repeat;
    filter: url("#remove-black-button-13");
  }
}

/* BYTTON MAIN PAGE CSS END */
/* Mobil görünümde iki kart yan yana */
@media (max-width: 768px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .row > div {
    flex: 1 1 calc(50% - 15px);
    margin: 0 7.5px;
  }
}
/* İTEMPAGE CCSS END */
/* MOBİLE NAVİGATİON CSS */
.card {
  width: 71.5vw;
  height: 100vw;
  width: clamp(200px, 61vh, 18vw);
  height: clamp(280px, 85vh, 25.2vw);
  @media screen and (min-width: 800px) {
    width: 61vh;
     height: 105vh;
    max-width: 500px;
    max-height: 700px;
    width: clamp(12.9vw, 61vh, 18vw);
    height: clamp(18vw, 85vh, 25.2vw);
  }
 
 height: auto;
  border-radius: 5% / 3.5%;
  box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2),
    -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent,
    0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);

  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;

}
/* NAVİGATİON CSS */
li{
   font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    list-style-type:none;
}
a{
   text-decoration: none;
   color: aliceblue;
}
/* THE CURSEDLAND CHARACTERS TEXT CSS */



:root {
  --color-background: #4cc903;
  --stroke-width: calc(1em / 16);
  --font-size: 30vmin;
  --font-weight: 600;
  --letter-spacing: calc(1em / 9);
}

.paragrafAbutUs{
   text-align: center;
   background-clip: text;
   background-image: linear-gradient(to right, #3313e8, #728658, #e51414, #534960d2);
   color: var(--color-background);
   font-size: calc(var(--font-size) / 2.5); 
   font-weight: var(--font-weight );
   padding: calc(var(--stroke-width) / 0.9);
   -webkit-text-stroke-color: transparent;
   -webkit-text-stroke-width: var(--stroke-width);

}

@keyframes filling {
   from{
     background-position: center 25%;
   }
   to {
     background-position: center 50%;
   }
 }
 
 .container-text {
   text-align: center;
   align-items: center;
   justify-content: center;
   background-image:  url(./img/elf.img.png);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   color:  #66dd17;
   padding-top: 10px;
   font-size: 100px;
   font-family: 'Bungee', cursive;
   animation: filling 5s infinite;
 }
/* THE CURSEDLAND CHARACTERS TEXT CSS end */



:root {
   --color1: rgb(0, 231, 255);
   --color2: rgb(98, 181, 46);
   --charizard1: #fac;
   --charizard2: #ddccaa;
   --charizardfront: url(./img/elfBig.png);
   --pika1: #54a29e;
   --pika2: #a79d66;
   --pikafront: url(./img/beast.png);
   --warrior1: #efb2fb;
   --warrior2: #acc6f8;
   --warriorfront: url(./img/human.img.png);
   --mewtwo1: #efb2fb;
   --mewtwo2: #acc6f8;
   /* --warriorsfront: url(./img/noviceArmor.png); */
   --mewtwofront:url(./img/undead.img.png);



 }

 
 

.cardss.warrior.enlarged {
    transform: scale(2); /* Görseli 2 kat büyütür */
    z-index: 1000; /* Görseli öne çıkartır */
}

.TableClass{
  height:30vh; 
  justify-content:  center; 
  align-items:center;
  display:flexbox; 
   
}
 
 .cardss {
  width: clamp(123px, 51vh, 8vw);
  height: clamp(250px, 65vh, 25.2vw);

  /* Medya sorgusu ile ekran genişliği 600px ve üzeri olduğunda geçerli olacak ayarlar */
  @media screen and (min-width: 600px) {
    width: clamp(12.9vw, 61vh, 18vw);
    height: clamp(18vw, 85vh, 25.2vw);
    max-width: 500px;
    max-height: 700px;
  }
  position: relative;
  margin: 20px;
  z-index: 10;

  border-radius: 5% / 3.5%;
  box-shadow: 
    -5px -5px 5px -5px var(--color1), 
    5px 5px 5px -5px var(--color2),
    -7px -7px 10px -5px transparent, 
    7px 7px 10px -5px transparent,
    0 0 5px 0 rgba(255, 255, 255, 0), 
    0 55px 35px -20px rgba(0, 0, 0, 0.5);

  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;

  background-color: #040712;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}
table {
  border-collapse: collapse;
  width: 100%;
  background-color:#f0d0a0 !important;

}

.warriors{
  background-color: rgb(12,10,20) !important;
  
}
.İtemdetailAcordion{
  background-color: rgb(12,10,20) !important;
}

th, td {
  text-align: left;
  padding: 4px;
}



 .cardss:hover {
   box-shadow: -20px -20px 30px -25px var(--color1),
     20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1),
     7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3),
     0 55px 35px -20px rgba(0, 0, 0, 0.5);
 }
 
 .cardss.charizard {
   --color1: var(--charizard1);
   --color2: var(--charizard2);
   --front: var(--charizardfront);
 }
 .cardss.pika {
   --color1: var(--pika1);
   --color2: var(--pika2);
   --front: var(--pikafront);
 }
 .cardss.mewtwo {
   --color1: var(--mewtwo1);
   --color2: var(--mewtwo2);
   --front: var(--mewtwofront);
 }
 .cardss.warrior {
   --color1: #110106;
   --color2: #c2cd27;
   --color3: #69e4a5;
   --color4: #010b0e;
   --color5: #8906c6;
   --front: var(--warriorfront);
 }
 
 .cardss:before,
 .cardss:after {
   content: "";
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   background-repeat: no-repeat;
   opacity: 0.5;
   mix-blend-mode: color-dodge;
   transition: all 0.33s ease;
 }
 
 .cardss:before {
   background-position: 50% 50%;
   background-size: 300% 300%;
   background-image: linear-gradient(
     115deg,
     transparent 0%,
     var(--color1) 25%,
     transparent 47%,
     transparent 53%,
     var(--color2) 75%,
     transparent 100%
   );
   opacity: 0.5;
   filter: brightness(0.5) contrast(1);
   z-index: 1;
 }
 
 .cardss:after {
   opacity: 1;
   background-image: url(./img/sparkles.webp),
     url(./img/holo.webp),
     linear-gradient(
       125deg,
       #ff008450 15%,
       #fca40040 30%,
       #ffff0030 40%,
       #00ff8a20 60%,
       #00cfff40 70%,
       #cc4cfa50 85%
     );
   background-position: 50% 50%;
   background-size: 160%;
   background-blend-mode: overlay;
   z-index: 2;
   filter: brightness(1) contrast(1);
   transition: all 0.33s ease;
   mix-blend-mode: color-dodge;
   opacity: 0.75;
 }
 
 .cardss.active:after,
 .cardss:hover:after {
   filter: brightness(1) contrast(1);
   opacity: 1;
 }
 
 .cardss.active,
 .cardss:hover {
   animation: none;
   transition: box-shadow 0.1s ease-out;
 }
 
 .cardss.active:before,
 .cardss:hover:before {
   animation: none;
   background-image: linear-gradient(
     110deg,
     transparent 25%,
     var(--color1) 48%,
     var(--color2) 52%,
     transparent 75%
   );
   background-position: 50% 50%;
   background-size: 250% 250%;
   opacity: 0.88;
   filter: brightness(0.66) contrast(1.33);
   transition: none;
 }
 
 .cardss.active:before,
 .cardss:hover:before,
 .cardss.active:after,
 .cardss:hover:after {
   animation: none;
   transition: none;
 }
 
 .cardss.animated {
   transition: none;
   animation: holoCard 12s ease 0s 1;
   &:before {
     transition: none;
     animation: holoGradient 12s ease 0s 1;
   }
   &:after {
     transition: none;
     animation: holoSparkle 12s ease 0s 1;
   }
 }
 
 @keyframes holoSparkle {
   0%,
   100% {
     opacity: 0.75;
     background-position: 50% 50%;
     filter: brightness(1.2) contrast(1.25);
   }
   5%,
   8% {
     opacity: 1;
     background-position: 40% 40%;
     filter: brightness(0.8) contrast(1.2);
   }
   13%,
   16% {
     opacity: 0.5;
     background-position: 50% 50%;
     filter: brightness(1.2) contrast(0.8);
   }
   35%,
   38% {
     opacity: 1;
     background-position: 60% 60%;
     filter: brightness(1) contrast(1);
   }
   55% {  
     opacity: 0.33;
     background-position: 45% 45%;
     filter: brightness(1.2) contrast(1.25);
   }
 }
 
 @keyframes holoGradient {
   0%,
   100% {
     opacity: 0.5;
     background-position: 50% 50%;
     filter: brightness(0.5) contrast(1);
   }
   5%,
   9% {
     background-position: 100% 100%;
     opacity: 1;
     filter: brightness(0.75) contrast(1.25);
   }
   13%,
   17% {
     background-position: 0% 0%;
     opacity: 0.88;
   }
   35%,
   39% {
     background-position: 100% 100%;
     opacity: 1;
     filter: brightness(0.5) contrast(1);
   }
   55% {
     background-position: 0% 0%;
     opacity: 1;
     filter: brightness(0.75) contrast(1.25);
   }
 }
 
 @keyframes holoCard {
   0%,
   100% {
     transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
   }
   5%,
   8% {
     transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
   }
   13%,
   16% {
     transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
   }
   35%,
   38% {
     transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
   }
   55% {
     transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
   }
 }
 
 .cardss.warrior:hover {
   box-shadow: 0 0 30px -5px white, 0 0 10px -2px white,
     0 55px 35px -20px rgba(0, 0, 0, 0.5);
 }
 .cardss.warrior:hover:before,
 .cardss.warrior.active:before {
   background-image: linear-gradient(
     115deg,
     transparent 20%,
     var(--color1) 36%,
     var(--color2) 43%,
     var(--color3) 50%,
     var(--color4) 57%,
     var(--color5) 64%,
     transparent 80%
   );
   .cardss {
    overflow: auto; /* İçeriğin taşmasını sağlar ve kaydırma çubuğunu gösterir */
  }
  
 }
 


 h1 {
   color: white;
   text-align: center;
   display: block;
   margin: 30px 0;
 }
 p {
   margin-top: 5px;
   font-weight: 200;
 }
 #app {
   position: relative;
 }
 

 
 @media screen and (min-width: 600px) {
   .cardss {
     flex-direction: row;
   }
 }
 
 .cardss .card {
   &:nth-child(2) {
     &,
     &:before,
     &:after {
       animation-delay: 0.25s;
     }
   }
   &:nth-child(3) {
     &,
     &:before,
     &:after {
       animation-delay: 0.5s;
     }
   }
   &:nth-child(4) {
     &,
     &:before,
     &:after {
       animation-delay: 0.75s;
     }
   }
 }
 
 p {
 
   font-weight: 600;
   font-size: 18px;
   padding: 1em;
   background-color: rgb(12,10,20) !important;
   margin-top: 0;
 }


 /* İTEM DETAİL İMAGE CSS ARMOR */
 .armorİmages{
  justify-content: center;
  align-items: center;
  display: flex;
 }

 

 .tableAccordion {
  border-image: none;
 }
 /* İTEM DETAİL İMAGE CSS ARMOR END */

 
 @keyframes rubberBand {
   from {
     transform: scale3d(1, 1, 1);
   }
 
   30% {
     transform: scale3d(1.25, 0.75, 1);
   }
 
   40% {
     transform: scale3d(0.75, 1.25, 1);
   }
 
   50% {
     transform: scale3d(1.15, 0.85, 1);
   }
 
   65% {
     transform: scale3d(0.95, 1.05, 1);
   }
 
   75% {
     transform: scale3d(1.05, 0.95, 1);
   }
 
   to {
     transform: scale3d(1, 1, 1);
   }
 }
 
/* NAVİGATİON CSS END */

.navigationDiv ul li a {
    
    color: white;
    text-decoration: none;
    background: none;
    justify-content: flex-start;
    align-items: center;
}



/*  main paage navigation Border css */
.navigationBorder{
    box-shadow: rgba(233, 223, 223, 0.19) 0px 10px 20px, rgba(246, 235, 235, 0.23) 0px 6px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width:22px; /* Kenarlık kalınlığı */
    border-style: solid; /* Kenarlık tipi */
    border-image-source: url('./img/pngegg\ .png');
    border-image-slice: 85; /* Resmin dilimleme noktaları */
    border-image-width: 13px; /* Kenarlığın genişliği */
    box-sizing: border-box; /* Padding'i kenarlık içine dahil et */

}

.navigation {
    color: black;
    font-weight: 900;
    border: 30px solid;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    border-width:26px;
    border-style: solid; 
    border-image-source: url('./img/borderss.png');
    border-image-slice: 44%; 
    border-image-width:100%;
    border-image-repeat:stretch;
    box-sizing: border-box;
     
}
.navbar-toggler-icon {
    background-color: white;
}
/* navigation Border css end */

/* MOBİLE NAVİGATİON CSS display */
.header{
    display: none;
}

/* CHARACTER DETAİL CSS*/


.mainPageasaboutus .carousel-inner{
    width: 100%;
    border-radius: 26px /26px;
    box-shadow: rgba(158, 233, 6, 0.25) 0px 4px 18px, #440563 0px 0px 10px;

   
}
.paragrafAbutUs{
    margin-top: 5px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 16px /16px;
    box-shadow: rgba(158, 233, 6, 0.25) 0px 4px 18px, #440563 0px 0px 10px;

}


/* CHARACTER DETAİL CSS */
.h6{
    position: relative;
    justify-content: center;
    align-self: center;
    text-wrap:pretty;

}

.accordionMobile{
    display: none;
 }



/* ABOUT GAME CSS */

iframe{
    border-radius: 26px / 26px;
    border-width:10px; /* Kenarlık kalınlığı */
    border-style: solid; /* Kenarlık tipi */
    border-image-source: url('./img/borderrrss.png');
    border-image-slice: 95; /* Resmin dilimleme noktaları */
    border-image-width: 20px; /* Kenarlığın genişliği */
}


.accordion-button{
    background-color: rgb(12,10,20) !important;
    margin-top: 1rem;
    color: white ;
    box-shadow: rgba(158, 233, 6, 0.25) 0px 4px 10px, #440563 0px 0px 10px;
    border-width :4px; 
    width: 100%;
    justify-content: center;
    align-items: center;

}



.accordion-item{
  width: 100% !important;
  justify-content: center;
  align-items: center;
  background-color: rgb(12,10,20) !important;
  color: white;
}
.accordion-button:not(.collapsed){
  width: 100% !important;
  font-weight: bold;
   background-color: rgb(12,10,20) !important;
   box-shadow: rgba(158, 233, 6, 0.25) 0px 4px 18px, #440563 0px 0px 10px;
  color: white !important;
}
.accordion-button:focus{
  width: 100% !important;
  justify-content: center;
  align-items: center;
}



/* HumanİTEMS CSS PAGE */

.warriorsİmage{
  width: 200px;
  height: 200px;
 }


 .armorWidthCssForİtemDetail{
  width: 90px;
  height: 90px;
 }

 
 .titleForİtemName{

   font-family: "Kanit", sans-serif;
   font-weight: 600;
   font-style: normal;
   color: rgb(222, 220, 235);
   justify-content: center;
   align-items: center;
   display: flex;
}



@media (max-width: 768px) {
    /* ABOUT GAME CSS ACCORDION CSS MOBILE END */
    .iframe {
        width: 100%;
        height: 175px;
    }
    .accordion{
       width: 100%;
    }
    .accordion{
       width: 100%;
    }
  
 
    .accordionMobile{
       display: block;
      }

     .navigationBorder{
        display: none;
     }
     
     .header{
        display: block;
       
     }
   
     button{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .navigationDiv ul li a {
        
        color: white;
        text-decoration: none;
        background: none;
        justify-content: flex-start;
        align-items: center;
    }
 
 }
 @media (max-width: 976px) {
    /* ABOUT GAME CSS ACCORDION CSS MOBILE END */
    .iframe {
        width: 100%;
        height: 235px;
    }
    .accordion{
       width: 100%;
    }
    .accordion{
       width: 100%;
    }
  
  
 
    .accordionMobile{
       display: block;
      }
   
     
     .accordion-body{
        width: 100% !important;
        display: flex;
        justify-content: center;
        padding-top: 4px;
     }
    
     .header{
        display: block;
       
     }
     button{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .navigationDiv ul li a {
        
        color: white;
        text-decoration: none;
        background: none;
        justify-content: flex-start;
        align-items: center;
    }
   
     
 
 }
 
 
 @media (max-width: 968px) {
    /* ABOUT GAME CSS ACCORDION CSS MOBILE */
    .AboutGame {
       width: 100%;
       
    }
    /* ABOUT GAME CSS ACCORDION CSS MOBILE END */
    .iframe {
       width: 100%;
       height: 255px;
    }
    .accordion{
       width: 100%;
    }
   
 
    .accordionMobile{
       display: block;
      }

     .accordion-body{
        display: flex;
        justify-content: center;
        padding-top: 10px;
     }
    
     .header{
        display: block;
       
     }
   
     button{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .navigationDiv ul li a {
        
        color: white;
        text-decoration: none;
        background: none;
        justify-content: flex-start;
        align-items: center;
    }
     
 }
 
 /* BONUSES PAGE TABLE MOBİLE CSS */
 @media (max-width: 600px) {

    .accordion-body{
        width: 100% !important;
        display: flex;
        justify-content: center;
        padding-top: 10px;
     }
    
 
    .accordionMobile{
       display: block;
      }
 
 
   .border{
    width: 100% !important;
   }

 .container-text {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image:  url(./img/elf.img.png);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color:  #66dd17;
  padding-top: 10px;
  font-size: 30px;
  font-family: 'Bungee', cursive;
  animation: filling 5s infinite;
}




 }


 @media (max-width: 965px) {

  .accordionMobile{
     display: block;
    }


 .border{
  width: 100% !important;
 }
 .accordion{
  width: 100%;
}
.accordion-body{
  width: 100% !important;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.header{
  display: none;
 
}
.container-text {
 text-align: center;
 align-items: center;
 justify-content: center;
 background-image:  url(./img/elf.img.png);
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
/* Standart söz dizimi */
-ms-background-clip: border-box;
/* Eski tarayıcılar için vendor prefix'ler */
-webkit-background-clip: border-box;
-moz-background-clip: border-box;    
background-clip: border-box;     

 color:  #66dd17;
 padding-top: 10px;
 font-size: 30px;
 font-family: 'Bungee', cursive;
 animation: filling 5s infinite;
}

.card{
  background-color: rgb(12,10,20) !important;
  text-decoration: none;
 
}
li,a{
  list-style: none;
  text-decoration: none;
  color: white;
}

li{
 font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  list-style-type:none;
}


}
 @media (max-width: 660px) {
  
 
    .accordionMobile{
       display: block;
      }
 

   .border{
    width: 100% !important;
   }
   .accordion{
    width: 100%;
 }

 .accordion-body{
    width: 100% !important;
    display: flex;
    justify-content: center;
    padding-top: 10px;
 }
 .İtrmdetail{
  padding:0% !important;
 }

 .header{
    display: block;
   
 }
 .container-text {
   text-align: center;
   align-items: center;
   justify-content: center;
   background-image:  url(./img/elf.img.png);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   color:  #66dd17;
   padding-top: 10px;
   font-size: 30px;
   font-family: 'Bungee', cursive;
   animation: filling 5s infinite;
 }

.card{
    background-color: rgb(12,10,20) !important;
    text-decoration: none;
   
}
li,a{
    list-style: none;
    text-decoration: none;
    color: white;
}

li{
   font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    list-style-type:none;
}


.tablee{
  text-align: center;
  justify-content: center;
  align-items: center;
}
table, th, td {
  border: 2px solid rgb(4, 3, 3);
  padding: 0%;
  margin: -10px;
  text-align: center;
  justify-content: center;
}
 .cardss.warriorİmge{
  width: 60px;
  height: 60px;
  padding: 0%;
  margin: 0%;


 }
 .tableContainer .accordion .tablee{
  position:fixed;
   justify-content: center;
   align-items: center;
 }

 }


 /* WARRİOR PAGE MOBILE CSS */
 @media (max-width: 465px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .row > div {
    flex: 1 1 calc(50% - 15px);
    margin: 0 7.5px;
  }
 .rowss{
  justify-content: center;
  align-items: center;
  flex-direction:column;
  
 }
}
@media (min-width: 469px) and (max-width: 645px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .row > div {
    flex: 1 1 calc(50% - 15px);
    margin: 0 7.5px;
  }
 .rowss{
  justify-content: center;
  align-items: center;
  flex-direction:column;
 }

}
 /* WARRİOR PAGE MOBILE CSS END*/
