<style>
    #dexscreener-embed {
        height: 80vh;
      position: relative;
      width: 100%;
      padding-bottom: 125%;
    }
  
    @media(min-width:1400px) {
      #dexscreener-embed {
        padding-bottom: 65%;
      }
    }
  
    #dexscreener-embed iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 0;
    }
  </style>
  <div id="dexscreener-embed">
    <iframe src="https://dexscreener.com/multiversx/erd1qqqqqqqqqqqqqpgq6quepqlx66rmwst8uxl6p28jhcrnva982jpszqhxff?embed=1&theme=dark"></iframe>
  </div>