<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <title>Items Detail</title>

</head>
<body>

<!-- NAVBAR -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg ">
        <a href="../index.html" class="logo"><img src="../img/tclLogo.png" alt="logo" class="logo"></a> 

        <div class="container py-4">
            <a class="navbar-brand fw-semibold text-light" href="../index.html">            
                The Cursed Land Wiki Page
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link text-light fw-bolder" aria-current="page" href="../index.html">Main Page</a>
                    <a class="nav-link fw-bold text-light" href="#">About Us</a>
                    <a class="nav-link fw-bold text-light" href="#">Download Game</a>
                    <a class="nav-link btn btn-dark text-light px-3 rounded-pill ms-3 fw-bold">Lander App</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- NAVBAR END -->


<!-- MOBİLE VERSİON NAVİGATİON -->
<div class="header d-sm-block d-md-none d-xl-none d-lg-none   ">

  <div class="container moblilecontiner">
  <div class="row">
      <div class="col-sm-12 mobileNavigation">
          <p>
              <button class="btn mainMenu text-white fw-bold border  border-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                Main Menu
              </button>
            </p>
            <div>
              <div class="collapse collapse-horizontal" id="collapseWidthExample">
                <div class="card card-body">
          <div class="navigationDiv">
              <li><a href="./templates/aboutGame.html" class="navigationLi">About Game</a></li>
              <li><a href="./templates/kingdoms.html" class="navigationLi">Kingdoms</a></li>
              <li><a href="./templates/characters.html" class="navigationLi">Characters</a></li>
              <li><a href="./templates/items.html" class="navigationLi">İtems</a></li>
              <li><a href="./templates/maps.html" class="navigationLi">Maps</a></li>
              <li><a href="./templates/npc.html" class="navigationLi">Npc</a></li>
              <li><a href="./templates/mobs.html" class="navigationLi">Mobs</a></li>
              <li><a href="./templates/tokens.html" class="navigationLi">Tokens</a></li>
              <li><a href="./templates/nft.html" class="navigationLi">Nft</a></li>
              
          </div>
          </div>

                </div>
            </div>
      </div>
  </div>
</div>
</div>

<!-- MOBİLE VERSİON NAVİGATİON END -->

<!-- ITEM DETAIL -->
    <div class="container-fluid">
      <div class="row rowss" style="justify-content: center; align-items: center;">
    <!-- Column with image -->
    <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 d-flex justify-content-center align-items-center mb-3">
      <div class="warrior " >
        <div class="cardss warrior animated warriorsImage" ></div>
      </div>
    </div>

    <!-- Column with human details text -->
    <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 text-center humanText cardss mb-3" style="justify-content: center; align-items: center; width: 100%; height: 340px;">
      <h4 class="text-white mt-5">Human Detail</h4>
      <p class="text-white">
        Warriors possess formidable strength and excel in hand-to-hand combat. It's wise to keep your
        distance if you're looking to avoid a direct confrontation.
      </p>
      <h6 class="text-white mt-3">Weapon: Sword</h6>
      <h6 class="text-white">Damage Type: Physical</h6>
    </div>

    <!-- Column with detailed stats -->
    <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 text-center  cardss  "
     style="width: 100%; height: auto; justify-content: center; align-items: center;">
      <h3 class="text-white mt-4">Start</h3>
      <p class="text-white">
        - Human:
        - Level: 1
        - Base Stats:
          - Health: 760
          - Mana: 260
          - Attack: 10
          - Defence: 5
          - Vitality: 4
          - Intelligence: 3
          - Strength: 6
          - Dexterity: 3
        - Spawn: Eternal Sunshine - Red / Eternal Frosty - Blue (Map 1 Small Circle)
        - Inventory:<br>
          - Infinite Archer's Quiver<br>
          - Novice Sword+0<br>
          - Apprentice Chest I
      </p>
    </div>
    
  </div>
</div>




  
    
      <hr style="color: azure;">
      <div class="container  tableContainer px-0 " >
        <div class="row justify-content-center" >
          <div class="col-md-12 col-sm-12">
            <div class="p-5 m-5 İtrmdetail ">
              <div class="text-white">
                <div class="accordion accordion-flush text-center bg-danger" id="accordionFlushExample">
                  <div class=" İtemdetailAcordion text-center ">
                    <h2 class="accordion-header text-center" >
                      <button class="accordion-button collapsed tableAccordion " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Armors
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse m-0 p-0" data-bs-parent="#accordionFlushExample ">
                      <div class="row">
                        <div class="col-sm-12 ">
                      <table class="text-dark  TableClass" >
                        
                          <div class="armorİmages warriors pt-0 mt-0 " >
                            <div class="cardss warriorArmor warriors animated  armorWidthCssForİtemDetail">
                              <img src="../img/noviceArmor.png" class="img-fluid w-100">
                            </div>
                          </div>
                      
                          <h4 class="text-center p-1 ps-0 ms-0 d-flex titleArmor  m-3" style="box-shadow: 0px 9px 30px rgba(172, 255, 5, 0.989); border-radius: 26px /26px; align-items: center;
                          justify-content: center;  width:100%; ">Novice Armor</h4>
                          
                          <tr>
                            <th >Lvl</th>
                            <th>+0</th>
                            <th>+1</th>
                            <th>+2</th>
                            <th>+3</th>
                            <th>+4</th>
                            <th>+5</th>
                            <th>+6</th>
                            <th>+7</th>
                            <th>+8</th>
                            <th>+9</th>
                          </tr>
                          <tr>
                            <th>Defance</th>
                            <td>12</td>
                            <td>18</td>
                            <td>24</td>
                            <td>30</td>
                            <td>36</td>
                            <td>42</td>
                            <td>48</td>
                            <td>54</td>
                            <td>60</td>
                            <td>666</td>
                          </tr>
                          <tr>
                            <th> Uprage Metal</th>
                            <td>9444</td>
                            <td>94</td>
                            <td>94</td>
                            <td>94</td>
                            <td>94</td>
                            <td>94</td>
                            <td>94</td>
                            <td>94</td>
                            <td>94</td>
                            <td>944</td>
                          </tr>
                          <tr>
                            <th>uprage Cursed</th>
                            <td>67</td>
                            <td>67</td>
                            <td>687</td>
                            <td>67</td>
                            <td>677</td>
                            <td>667</td>
                            <td>67</td>
                            <td>67</td>
                            <td>67</td>
                            <td>679</td>
                          </tr>
                          <tr>
                            <th rowspan="5">Bonuses</th>
                            <th>Health</th>
                          </tr>
                        </table>
                        <hr style="height: 4px; color:rgb(245, 242, 242); background-color:rgb(229, 213, 213)">
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      
      

             

    

<!-- <script src="../app.js"></script> -->
 <script src="/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
