<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Items Detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
</head>
<body>

<!-- NAVBAR -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
        <a href="../index.html" class="logo"><img src="../img/tclLogo.png" alt="logo" class="logo"></a> 

        <div class="container py-4">
            <a class="navbar-brand fw-semibold text-light" href="../index.html">            
                The Cursed Land Wiki Page
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link text-light fw-bolder" aria-current="page" href="../index.html">Main Page</a>
                    <a class="nav-link fw-bold text-light" href="#">About Us</a>
                    <a class="nav-link fw-bold text-light" href="#">Download Game</a>
                    <a class="nav-link btn btn-dark text-light px-3 rounded-pill ms-3 fw-bold">Lander App</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- NAVBAR END -->


<!-- MOBILE VERSION NAVIGATION -->
<div class="header">
    <div class="container mobilecontiner">
        <div class="row">
            <div class="col-sm-12 mobileNavigation">
                <p>
                    <button class="btn mainMenu" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                        Main Menu
                    </button>
                </p>
                <div>
                    <div class="collapse collapse-horizontal" id="collapseWidthExample">
                        <div class="card card-body">
                            <ul class="navigationDiv">
                                <li><a href="../templates/aboutGame.html" class="navigationLi">About Game</a></li>
                                <li><a href="../templates/kingdoms.html" class="navigationLi">Kingdoms</a></li>
                                <li><a href="../templates/characters.html" class="navigationLi">Characters</a></li>
                                <li><a href="../templates/items.html" class="navigationLi">Items</a></li>
                                <li><a href="../templates/maps.html" class="navigationLi">Maps</a></li>
                                <li><a href="../templates/npc.html" class="navigationLi">Npc</a></li>
                                <li><a href="../templates/mobs.html" class="navigationLi">Mobs</a></li>
                                <li><a href="../templates/tokens.html" class="navigationLi">Tokens</a></li>
                                <li><a href="../templates/nft.html" class="navigationLi">Nft</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MOBILE VERSION NAVIGATION END -->
<!-- ITEM DETAIL -->
<section class="container">
    <div class="row">
        <div class="col-sm-12 mt-5">
            <h2 class="fs-12">
                <span class="badge rounded-circle p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z" />
                    </svg>
                </span>
                <span class="fs-12 text-light mt-5">Warrior Detail</span>
            </h2>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h5 class="text-white mt-5 pt-5" style="justify-content: center; align-items: center;">
                Warriors possess formidable strength and excel in hand-to-hand combat. It's wise to keep your distance if you're looking to avoid a direct confrontation.
            </h5>
            <h6 class="text-white mt-3 pt-0">Weapon: Sword</h6>
            <h6 class="text-white mt-0 pt-0">Damage Type: Physical</h6>
        </div>
        <div class="col-sm-6">
            <div class="warrior" style="justify-content: center; align-items: center; display: flex;">
                    <div class="cardss warrior animated"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
        <div style="overflow-x: auto;" class="text-white tablee">
            <table>
                <tr>
                    <th class="text-center" rowspan="6">
                        <div class="armors">
                            <div class="warrior" style="justify-content: center; align-items: center; display: flex;">
                                <div class="cardss warrior animated rounded-circle" style="width: 60px; height: 60px;"></div>
                         </div>
                        <h6>Novice Armor</h6>
                        </div>
                        <tr  style="background-color: blue;">
                <th>lvl</th>
                <th>+0</th>
                <th>+1</th>
                <th>+2</th>
                <th>+3</th>
                <th>+4</th>
                <th>+5</th>
                <th>+6</th>
                <th>+7</th>
                <th>+8</th>
                <th>+9</th>
              </tr >
              <tr>
                <td >Defance</td>
                <td>12</td>
                <td>18</td>
                <td>24</td>
                <td>30</td>
                <td>36</td>
                <td>42</td>
                <td>48</td>
                <td>54</td>
                <td>60</td>
                <td>66</td>
              </tr>
              <tr style="background-color:rgb(30, 232, 34);">
                <td> <h6>Uprage Metal</h6></td>
                <td>9444</td>
                <td>94</td>
                <td>94</td>
                <td>94</td>
                <td>94</td>
                <td>94</td>
                <td>94</td>
                <td>94</td>
                <td>94</td>
                <td>94</td>
              </tr>
              <tr>
                <td>uprage Cursed</td>
                <td>67</td>
                <td>67</td>
                <td>67</td>
                <td>67</td>
                <td>67</td>
                <td>67</td>
                <td>67</td>
                <td>67</td>
                <td>67</td>
                <td>67</td>
              </tr>
            </table>
          </div>
    </div>

<script src="app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
